.circle{
    z-index: -10;
    
    width: 850px;
    height: 850px;

    background-color: rgb(165, 228, 230);
    mix-blend-mode: multiply;
    border-radius: 100%;

    position: absolute; 
    left: 50%;
    top: 80%;
    transform: translate(-50%, -40%);
    

}

@media screen and (max-width: 750px){
    .circle{
        display: none;
    }
}