/* background-color: #CCD1CA; */

/* body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 3rem;
} */

body{
    background: radial-gradient(circle, rgba(52, 107, 108, 0.474) 0%, rgba(155, 140, 105, 0.3) 100%);
    margin: auto;
    max-width: 60%
    
}

main{
    display: grid;
    /* grid: row/column */ /* same: repeat(13, 1fr) */
    grid: auto / repeat(13, calc(100%/13));
    

 margin: auto;
 
height: 100vh;
 

}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
header {

    width: 100%;
    height: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* height: 300px; */

    font-family: 'Cormorant', serif;
    font-size: 3rem;
    border-bottom: thick double black;
    font-weight: 300;
    /* text-transform: uppercase; */
    
}

@media screen and (max-width : 750px ) {

    main{
        display: grid;
        grid: auto / repeat(9, 1fr);
        margin: auto;
    }
  
    header {
        /* margin: 0 auto; */
        margin: 0;
        text-align: center;
        font-family: 'Cormorant', serif;
        font-size: 2rem;
    
        font-weight: 300;
        /* text-transform: uppercase; */
        border-bottom: thick double black;
        width: 100%;
        height: 300px;
        
    }
}


