.subject{
    grid-column: 9/ span 4;
    grid-row: 3 / span 1 ;

    font-size: 0.7em;
    display: flex;
    justify-content: flex-start;
    padding-top: 30px;
    
}

@media screen and (max-width: 750px) {
    .subject{
        grid-column: 6/ span 4;
        font-size: 0.7em;
       
    }
}